asgiref==3.8.1
Django==5.1.6
mysqlclient==2.2.7
sqlparse==0.5.3
tzdata==2025.1

#Sign up you can choose the role,
#Every user must go through a basic login
#Admin can only assign roles.


#Get commands to create an admin account 
#manually create a query to create an admin account
#Create buttons depending what the user role is.

#C:\Users\ali\AppData\Local\Programs\Python\Python313\python.exe manage.py runserver
#C:\Users\ali\AppData\Local\Programs\Python\Python313\python manage.py makemigrations

