{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Requests</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'approval_system/styles.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/adminRequest.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="{% static 'filter.js' %}"></script> 
</head>
<body>

<div class="main-content">
    <h2><i class="fas fa-tasks"></i> Manage Withdrawal Requests</h2>

    <table>
        <tr>
            <th>Student</th>
            <th>Request Type</th>
            <th>Status</th>
            <th>Submitted On</th>
            <th>Actions</th>
        </tr>
        {% for req in requests %}
        <tr>
            <td>{{ req.user.username }}</td>
            <td>{{ req.form_name }}</td>
            <td>
                {% if req.status == "approved" %}
                    <span class="badge badge-approved">Approved</span>
                {% elif req.status == "returned" %}
                    <span class="badge badge-returned">Returned</span>
                {% else %}
                    <span class="badge badge-pending">Pending</span>
                {% endif %}
            </td>
            <td>{{ req.submitted_at }}</td>
            <td>
                {% if req.status == "pending" %}
                <a href="{% url 'review_request' req.id %}" class="btn btn-primary">Review</a>

                {% else %}
                    <span class="badge badge-{{ req.status }}">{{ req.status }}</span>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No pending requests.</td></tr>
        {% endfor %}
    </table>

</div>

</body>
</html>
